# Core data processing
numpy==1.26.4
pandas==2.2.3
scipy==1.15.2
joblib==1.4.2

# Geospatial packages
rasterio==1.4.3
geopandas==1.0.1
shapely==2.1.0
pyproj==3.7.1
pysheds==0.4

# Remote sensing & Earth observation
earthengine-api==1.5.12
geedim==1.9.0
geemap==0.35.3

# Visualization
matplotlib==3.10.1
seaborn==0.13.2
cartopy==0.24.1
cmocean==3.0.3

# OpenStreetMap data
osmnx==2.0.2

# Dependencies required by other packages
requests==2.32.3
pillow==11.2.1
geojson==3.2.0
numba==0.61.2 
